spryk: template
description: "Adds a new Resource Mapper model interface to the Glue application."
mode: both

arguments:
    module:
        inherit: true

    organization:
        inherit: true
        default: Spryker

    subDirectory:
        inherit: true
        default: Mapper

    className:
        inherit: true

    interfaceName:
        inherit: true
        value: "{{ className }}Interface"

    template:
        value: Glue/Processor/GlueProcessorModelInterface.php.twig

    targetFilename:
        callbackOnly: true
        callback: GlueProcessorModelInterfaceTargetFilename

    targetPath:
        value: "src/{{ organization }}/Glue/{{ module }}/Processor/"

preSpryks:
    - AddModule
