spryk: template
description: "Adds a new Controller to the Yves application."
mode: both

arguments:
    organization:
        inherit: true
        default: SprykerShop

    module:
        inherit: true

    controller:
        inherit: true
        callback:
            - ClassNameShortCallback
            - EnsureControllerSuffixCallback

    template:
        value: Yves/Controller/YvesController.php.twig

    targetFilename:
        value: "{{ controller | classNameShort | ensureControllerSuffix }}.php"

    targetPath:
        value: "src/{{ organization }}/Yves/{{ module }}/Controller/"

preSpryks:
    - AddModule
    - AddYvesFactory

