spryk: template
description: "Adds a new *module*Factory to the Yves application."
mode: both

arguments:
    organization:
        inherit: true
        default: SprykerShop

    module:
        inherit: true

    template:
        value: Yves/YvesFactory.php.twig

    targetFilename:
        value: "{{ module }}Factory.php"

    targetPath:
        value: "src/{{ organization }}/Yves/{{ module }}/"

preSpryks:
    - AddModule

postSpryks:
    - AddYvesDependencyProvider
    - AddYvesConfig
