spryk: template
description: "Adds a new *module*DependencyProvider to the Yves application."
mode: both

arguments:
    organization:
        inherit: true
        default: SprykerShop

    module:
        inherit: true

    template:
        value: Yves/YvesDependencyProvider.php.twig

    targetFilename:
        value: "{{ module }}DependencyProvider.php"

    targetPath:
        value: "src/{{ organization }}/Yves/{{ module }}/"

preSpryks:
    - AddModule
