spryk: method
description: "Adds a Client dependency method to the *module*DependencyProvider."
mode: both

arguments:
  module:
    inherit: true

  dependentModule:
    inherit: true

  organization:
    inherit: true
    default: Spryker

  providerMethod:
    value: "add{{ dependentModule }}Client"

  template:
    value: Glue/Dependency/Client/GlueDependencyClientDependencyProviderMethod.php.twig

  target:
    value: "{{ organization }}\\Glue\\{{ module }}\\{{ module }}DependencyProvider"

preSpryks:
  - AddGlueDependencyProvider

postSpryks:
  - AddGlueDependencyClientBridge
  - AddGlueDependencyClientDependencyProviderConstant:
      arguments:
        name:
          value: "CLIENT_{{ dependentModule | underscored | upper }}"
        value:
          value:  "CLIENT_{{ dependentModule | underscored | upper }}"
        visibility:
          value:  "public"
  - AddGlueDependencyClientToDependencyProvider

