# IDEs
/.idea
/.project
/nbproject
/.buildpath
/.settings
*.sublime-*
*.AppleDouble
*.AppleDB
*.AppleDesktop
Temporary Items
.apdisk
GPATH
GRTAGS
GTAGS

# OS
.DS_Store

.scrutinizer
vendor/*
composer.phar

tests/_data/emptyFile
tests/_data/vendor/*
tests/_data/src/*
tests/_output
tests/_support/_generated/
!tests/_support/vendor/

composer.lock
