spryk: structure
description: "Adds a new *module* tests structure."
priority: 1
mode: core
level: 3

arguments:
    organization:
        inherit: true
        default: Spryker

    module:
        inherit: true

    targetPath:
        value: ""

    directories:
        skipOnProjectLevel: true
        value:
            - "tests/{{ organization }}Test/"

preSpryks:
    - AddModule
