spryk: template
description: "Adds a new Processor model interface to the Glue application."
mode: both

arguments:
  module:
    inherit: true

  organization:
    inherit: true
    default: Spryker

  subDirectory:
    inherit: true
    isOptional: true

  className:
    inherit: true

  interfaceName:
    inherit: true
    default: "{{ className }}Interface"

  template:
    value: Glue/Processor/GlueProcessorModelInterface.php.twig

  targetFilename:
    callbackOnly: true
    callback: GlueProcessorModelInterfaceTargetFilename

  targetPath:
    value: "{{ moduleRoot }}/src/{{ organization }}/Glue/{{ module }}/Processor/"

preSpryks:
  - AddModule

postSpryks:
  - AddGlueProcessorModel
