spryk: template
description: "Adds a new Resource interface to the Glue application."
mode: both

application: Glue

priority: 1

arguments:
    module:
        inherit: true

    organization:
        inherit: true
        default: Spryker

    className:
        inherit: true
        callback: EnsureResourceSuffix

    interfaceName:
        inherit: true
        value: "{{ className }}Interface"

    template:
        value: Glue/GlueResourceInterface.php.twig

    targetFilename:
        callbackOnly: true
        callback: GlueResourceInterfaceTargetFilename

    targetPath:
        value: "src/{{ organization }}/Glue/{{ module }}/"

preSpryks:
    - AddModule
