spryk: template
description: "Adds a new *module*Factory to the Glue application."
mode: both

arguments:
    module:
        inherit: true

    organization:
        inherit: true
        default: Spryker

    template:
        value: Glue/GlueFactory.php.twig

    targetFilename:
        value: "{{ module }}Factory.php"

    targetPath:
        value: "src/{{ organization }}/Glue/{{ module }}/"

preSpryks:
    - AddModule

postSpryks:
    - AddGlueDependencyProvider
    - AddGlueConfig
