spryk: template
description: "Adds a new *Module*ServiceDependencyProvider to the Service application."
mode: both

arguments:
    module:
        inherit: true

    organization:
        inherit: true
        default: Spryker

    template:
        value: Service/ServiceDependencyProvider.php.twig

    targetFilename:
        value: "{{ module }}DependencyProvider.php"

    targetPath:
        value: "src/{{ organization }}/Service/{{ module }}/"

preSpryks:
    - AddModule
