spryk: method
description: "Adds a Service dependency method to the *module*DependencyProvider."
mode: both

arguments:
    organization:
        inherit: true
        default: Spryker

    module:
        inherit: true
    dependentModule:
        inherit: true

    providerMethod:
        value: "add{{ dependentModule }}Service"

    template:
        value: Client/Dependency/Service/ClientDependencyServiceDependencyProviderMethod.php.twig

    target:
        value: "{{ organization }}\\Client\\{{ module }}\\{{ module }}DependencyProvider"

preSpryks:
    - AddClientDependencyProvider

postSpryks:
    - AddConstant:
        arguments:
            name:
                value: "SERVICE_{{ dependentModule | underscored | upper }}"
            value:
                value: "SERVICE_{{ dependentModule | underscored | upper }}"
            visibility:
                value: "public"
            target:
                value: "{{ organization }}\\Client\\{{ module }}\\{{ module }}DependencyProvider"

