spryk: method
description: "Adds a new method to the *module*FacadeInterface."
mode: both

arguments:

  module:
    inherit: true

  organization:
    inherit: true
    default: Spryker

  specification:
    multiline: true

  facadeMethod:
    inherit: true

  input:
    isOptional: true
    isMultiple: true

  output:
    inherit: true
    isOptional: true

  annotations:
    value:
      - "@api"

  template:
    value: Common/InterfaceMethod.php.twig

  target:
    value: "{{ organization }}\\Zed\\{{ module }}\\Business\\{{ module }}FacadeInterface"

preSpryks:
  - AddZedBusinessFacadeInterface
