spryk: template
description: "Adds a new *module*To*dependentModule*ClientBridge."
mode: core

arguments:
    organization:
        inherit: true
        default: Spryker

    module:
        inherit: true

    dependentModuleOrganization:
        inherit: true
        default: Spryker

    dependentModule:
        inherit: true
        moduleFilter:
            application: Client

    template:
        value: Client/Dependency/Client/ClientDependencyClientBridge.php.twig

    targetFilename:
        value: "{{ module }}To{{ dependentModule }}ClientBridge.php"

    targetPath:
        value: "src/{{ organization }}/Client/{{ module }}/Dependency/Client/"

preSpryks:
    - AddModule

postSpryks:
    - AddClientDependencyClientInterface
    - AddClientDependencyClientFactoryMethod
    - AddClientDependencyClientDependencyProviderMethod
    - AddConstant:
        arguments:
            name:
                value: "CLIENT_{{ dependentModule | underscored | upper }}"
            value:
                value: "CLIENT_{{ dependentModule | underscored | upper }}"
            visibility:
                value: "public"
            target:
                value: "{{ organization }}\\Client\\{{ module }}\\{{ module }}DependencyProvider"
