spryk: method
description: "Adds a Client dependency method to the *module*DependencyProvider."
mode: both

arguments:
    organization:
        inherit: true
        default: Spryker

    module:
        inherit: true

    dependentModule:
        inherit: true

    providerMethod:
        value: "add{{ dependentModule }}Client"

    template:
        value: Client/Dependency/Client/ClientDependencyClientDependencyProviderMethod.php.twig

    target:
        value: "{{ organization }}\\Client\\{{ module }}\\{{ module }}DependencyProvider"

preSpryks:
    - AddClientDependencyProvider

postSpryks:
    - AddConstant:
        arguments:
            name:
                value: "CLIENT_{{ dependentModule | underscored | upper }}"
            value:
                value: "CLIENT_{{ dependentModule | underscored | upper }}"
            visibility:
                value: "public"
            target:
                value: "{{ organization }}\\Client\\{{ module }}\\{{ module }}DependencyProvider"
