spryk: template
description: "Adds a new spy_*targetModule*.schema.xml to the Zed application."
mode: both

arguments:
  module:
    inherit: true
  targetModule: ~

  organization:
    inherit: true
    default: Spryker

  template:
    value: Zed/Persistence/Propel/Schema/schema.xml.twig

  targetFilename:
    value: "spy_{{ targetModule | underscored }}.schema.xml"

  targetPath:
    value: "{{ module }}/src/{{ organization }}/Zed/{{ module }}/Persistence/Propel/Schema/"

preSpryks:
  - AddModule
