spryk: template
description: "Adds a new *module*DependencyProvider to the Zed application."
mode: both

arguments:
    module:
        inherit: true

    organization:
        inherit: true
        default: Spryker

    template:
        value: Zed/ZedDependencyProvider.php.twig

    extends:
        value: \Spryker\Zed\Kernel\AbstractBundleDependencyProvider

    targetFilename:
        value: "{{ module }}DependencyProvider.php"

    targetPath:
        value: "src/{{ organization }}/Zed/{{ module }}/"

preSpryks:
    - AddModule
