spryk: update-yml
description: "Adds the include for the Zed test suite to the codeception.yml."
mode: core

arguments:
    module:
        inherit: true

    organization:
        inherit: true
        default: Spryker

    afterElement:
        value: namespace

    addToElement:
        value: include

    content:
        value: "tests/{{ organization }}Test/Zed/{{ module }}"

    targetPath:
        value: "codeception.yml"

preSpryks:
    - AddModuleCodeceptionConfiguration
