spryk: template
description: "Add the Zed *module* test suite configuration without any suite."
mode: both

arguments:
    module:
        inherit: true

    organization:
        inherit: true
        default: Spryker

    template:
        value: Zed/ZedTestCodeceptionConfiguration.yml.twig

    targetPath:
        value: "tests/{{ organization }}Test/Zed/{{ module }}/"

    targetFilename:
        value: codeception.yml

preSpryks:
    - AddModuleCodeceptionConfiguration

postSpryks:
    - AddZedTestSuiteToCodeceptionConfiguration
