spryk: template
description: "Adds a new *module*Config to the Zed application."
mode: both

arguments:
  module:
    inherit: true

  organization:
    inherit: true
    default: Spryker

  template:
    value: Zed/ZedConfig.php.twig

  targetFilename:
    value: "{{ module }}Config.php"

  targetPath:
    value: "{{ module }}/src/{{ organization }}/Zed/{{ module }}/"

preSpryks:
  - AddModule
