spryk: bridgeMethods
description: "Adds a new method to the *module* dependency Client bridge."
priority: 1
mode: core

arguments:
  module:
    moduleFilter:
      application: Zed

  organization:
    default: Spryker

  dependentModule:
    moduleFilter:
      application: Client

  methods:
    type: MethodNameChoice
    choiceLoader: ClientMethodChoiceLoader
    isMultiple: true
    typeOptions:
      - module
      - choiceLoader

  template:
    value: Zed/Dependency/ZedDependencyBridgeMethod.php.twig

  dependencyType:
    value: Client

  sourceClass:
    value: "{{ organization }}\\Client\\{{ dependentModule }}\\{{ dependentModule }}Client"

  target:
    value: "{{ organization }}\\Zed\\{{ module }}\\Dependency\\Client\\{{ module }}To{{ dependentModule }}ClientBridge"

preSpryks:
  - AddZedDependencyClientBridge

postSpryks:
  - AddZedDependencyClientBridgeInterfaceMethod
