spryk: template
description: "Adds a new *module*To*dependentModule*ClientBridge."
mode: core

arguments:
    module:
        inherit: true
        moduleFilter:
            application: Zed

    organization:
        inherit: true
        default: Spryker

    dependentModule:
        inherit: true
        moduleFilter:
            application: Client

    dependentModuleOrganization:
        inherit: true
        default: Spryker

    template:
        value: Zed/Dependency/Client/ZedDependencyClientBridge.php.twig

    targetFilename:
        value: "{{ module }}To{{ dependentModule }}ClientBridge.php"

    targetPath:
        value: "src/{{ organization }}/Zed/{{ module }}/Dependency/Client/"

preSpryks:
    - AddModule

postSpryks:
    - AddZedDependencyClientInterface
    - AddZedDependencyClientBusinessFactoryMethod
    - AddZedDependencyClientDependencyProviderMethod
    - AddZedDependencyClientDependencyProviderConstant:
        arguments:
            name:
                value: "CLIENT_{{ dependentModule | underscored | upper }}"
            value:
                value: "CLIENT_{{ dependentModule | underscored | upper }}"
            visibility:
                value: "public"
