spryk: template
description: "Adds a new Business model interface to the Zed application."
mode: both

arguments:
    module:
        inherit: true

    organization:
        inherit: true
        default: Spryker

    subDirectory:
        inherit: true
        isOptional: true

    className:
        inherit: true

    interfaceName:
        inherit: true
        value: "{{ className }}Interface"

    template:
        value: Zed/Business/Model/ZedBusinessModelInterface.php.twig

    targetFilename:
        callbackOnly: true
        callback: ZedBusinessModelInterfaceTargetFilenameCallback

    targetPath:
        value: "src/{{ organization }}/Zed/{{ module }}/Business/"

preSpryks:
    - AddModule
