spryk: template
description: "Adds a new Controller to the Zed application."
mode: both
level: 2

arguments:
    module:
        inherit: true

    organization:
        inherit: true
        default: Spryker

    controller:
        inherit: true
        callback:
            - ClassNameShortCallback
            - EnsureControllerSuffixCallback

    template:
        value: Zed/Communication/ZedCommunicationController.php.twig

    targetFilename:
        value: "{{ controller | classNameShort | ensureControllerSuffix }}.php"

    targetPath:
        value: "src/{{ organization }}/Zed/{{ module }}/Communication/Controller/"

preSpryks:
    - AddModule
    - AddZedBusinessFacade
    - AddZedCommunicationFactory

