spryk: template
description: "Adds a new *module*EntityManagerInterface to the Zed application."
mode: both

arguments:
    module:
        inherit: true

    organization:
        inherit: true
        default: Spryker

    template:
        value: Zed/Persistence/ZedPersistenceEntityManagerInterface.php.twig

    targetFilename:
        value: "{{ module }}EntityManagerInterface.php"

    targetPath:
        value: "src/{{ organization }}/Zed/{{ module }}/Persistence/"

preSpryks:
    - AddModule
