<?xml version="1.0"?>
<config>
    <{{ moduleName | dasherize }}>
        <label>{{ moduleName }}</label>
        <title>{{ moduleName }}</title>
        <pages>
        </pages>
    </{{ moduleName | dasherize }}>
</config>
