spryk: template
description: "Adds a new *module*Config to the Client application."
mode: both

arguments:
    module:
        inherit: true

    organization:
        inherit: true
        default: Spryker

    template:
        value: Client/ClientConfig.php.twig

    targetFilename:
        value: "{{ module }}Config.php"

    targetPath:
        value: "src/{{ organization }}/Client/{{ module }}/"

preSpryks:
    - AddModule
