spryk: method
description: "Adds a new method to the *Module*Client."
priority: 1
mode: both
level: 2

arguments:

  module:
    inherit: true

  organization:
    inherit: true
    default: Spryker

  clientMethod: ~
  input: ~
  output: ~

  template:
    value: Common/Method.php.twig

  target:
    value: "{{ organization }}\\Client\\{{ module }}\\{{ module }}Client"

preSpryks:
  - AddClient

postSpryks:
  - AddClientInterfaceMethod
