spryk: template
description: "Adds a new *Module*Client to the Client application."
priority: 1
mode: both
level: 2

arguments:
    module:
        inherit: true

    organization:
        inherit: true
        default: Spryker

    template:
        value: Client/Client.php.twig

    targetFilename:
        value: "{{ module }}Client.php"

    targetPath:
        value: "src/{{ organization }}/Client/{{ module }}/"

preSpryks:
    - AddModule

postSpryks:
    - AddClientDependencyProvider
    - AddClientInterface
    - AddClientFactory
