spryk: transfer
description: "Adds a new *module*.transfer.xml to the Shared application."
mode: both
level: 2

arguments:
    module:
        inherit: true

    organization:
        inherit: true
        default: Spryker

    name:
        inherit: true

    targetPath:
        value: "src/{{ organization }}/Shared/{{ module }}/Transfer/{{ module | underscored }}.transfer.xml"

preSpryks:
    - AddSharedTransferSchema
