spryk: bridgeMethods
description: "Adds a new method to the *module* dependency Service bridge interface."
mode: core

arguments:
    organization:
        inherit: true
        default: SprykerShop

    module:
        inherit: true

    dependentModule:
        inherit: true
        moduleFilter:
            application: Service

    dependentModuleOrganization:
        inherit: true
        default: Spryker

    methods:
        type: MethodNameChoice
        choiceLoader: ServiceMethodChoiceLoader
        isMultiple: true
        typeOptions:
            - module
            - choiceLoader

    template:
        value: Yves/Dependency/YvesDependencyBridgeInterfaceMethod.php.twig

    dependencyType:
        value: Service

    sourceClass:
        value: "{{ dependentModuleOrganization }}\\Service\\{{ dependentModule }}\\{{ dependentModule }}ServiceInterface"

    target:
        value: "{{ organization }}\\Yves\\{{ module }}\\Dependency\\Service\\{{ module }}To{{ dependentModule }}ServiceInterface"

preSpryks:
    - AddYvesDependencyServiceInterface

postSpryks:
    - AddYvesDependencyServiceBridgeMethod
