spryk: method
description: "Adds a Service dependency method to the *module*DependencyProvider."
mode: both

arguments:
    organization:
        inherit: true
        default: SprykerShop

    module:
        inherit: true

    dependentModule:
        inherit: true
        moduleFilter:
            application: Service

    dependentModuleOrganization:
        inherit: true
        default: Spryker

    providerMethod:
        value: "add{{ dependentModule }}Service"

    template:
        value: Yves/Dependency/Service/YvesDependencyServiceDependencyProviderMethod.php.twig

    target:
        value: "{{ organization }}\\Yves\\{{ module }}\\{{ module }}DependencyProvider"

preSpryks:
    - AddYvesDependencyProvider

postSpryks:
    - AddYvesDependencyServiceBridge
    - AddYvesDependencyServiceDependencyProviderConstant:
        arguments:
            name:
                value: "SERVICE_{{ dependentModule | underscored | upper }}"
            value:
                value: "SERVICE_{{ dependentModule | underscored | upper }}"
            visibility:
                value: "public"

