spryk: method
description: "Adds a Service dependency method to the *module*Factory."
mode: both

arguments:
    organization:
        inherit: true
        default: SprykerShop

    module:
        inherit: true

    dependentModule:
        inherit: true

    factoryMethod:
        value: "get{{ dependentModule }}Service"

    template:
        value: Yves/Dependency/Service/YvesDependencyServiceFactoryMethod.php.twig

    target:
        value: "{{ organization }}\\Yves\\{{ module }}\\{{ module }}Factory"

preSpryks:
    - AddYvesFactory

postSpryks:
    - AddYvesDependencyServiceDependencyProviderConstant:
        arguments:
            name:
                value: "SERVICE_{{ dependentModule | underscored | upper }}"
            value:
                value: "SERVICE_{{ dependentModule | underscored | upper }}"
            visibility:
                value: "public"
