spryk: template
description: "Adds a new Controller to the Glue application."
mode: both

arguments:
    module:
        inherit: true

    organization:
        inherit: true
        default: Spryker

    controller:
        inherit: true
        callback:
            - ClassNameShortCallback
            - EnsureControllerSuffixCallback

    template:
        value: Glue/Controller/GlueController.php.twig

    targetFilename:
        value: "{{ controller | classNameShort | ensureControllerSuffix }}.php"

    targetPath:
        value: "src/{{ organization }}/Glue/{{ module }}/Controller/"

preSpryks:
    - AddModule
