spryk: template
description: "Adds a new *module*To*dependentModule*ClientBridge."
mode: core

arguments:
    organization:
        inherit: true
        default: SprykerShop

    module:
        inherit: true

    dependentModule:
        inherit: true
        moduleFilter:
            application: Client

    dependentModuleOrganization:
        inherit: true
        default: Spryker


    template:
        value: Yves/Dependency/Client/YvesDependencyClientBridge.php.twig

    targetFilename:
        value: "{{ module }}To{{ dependentModule }}ClientBridge.php"

    targetPath:
        value: "src/{{ organization }}/Yves/{{ module }}/Dependency/Client/"

preSpryks:
    - AddModule

postSpryks:
    - AddYvesDependencyClientInterface
    - AddYvesDependencyClientFactoryMethod
    - AddYvesDependencyClientDependencyProviderMethod
    - AddYvesDependencyClientDependencyProviderConstant:
        arguments:
            name:
                value: "CLIENT_{{ dependentModule | underscored | upper }}"
            value:
                value: "CLIENT_{{ dependentModule | underscored | upper }}"
            visibility:
                value: "public"
