spryk: template
description: "Adds a new *module*To*dependentModule*ClientInterface."
mode: both

arguments:
    organization:
        inherit: true
        default: SprykerShop

    module:
        inherit: true

    dependentModule:
        inherit: true
        moduleFilter:
            application: Client

    template:
        value: Yves/Dependency/Client/YvesDependencyClientInterface.php.twig

    targetFilename:
        value: "{{ module }}To{{ dependentModule }}ClientInterface.php"

    targetPath:
        value: "src/{{ organization }}/Yves/{{ module }}/Dependency/Client/"

preSpryks:
    - AddModule
